*,
*::after,
*::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.page-body{
    width: 1900px;
    max-width: 100%;
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
    background: #F2F2F2;
    font-family:'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/* .container{
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;   
} */

.header__section{
    background-color: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 27px;
}

.header__logo-link{   /*зробив, щоб була ССИЛКА */
 display: flex;           
 align-items: center;
}

.header__logo-icon{
    margin-right: 27px;
}

.header__logo-name{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.header__menu-list{
    width: 722px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.header__menu-link{
    list-style-type: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.header__menu-link:hover{
    color: #14B9D5;
}

.header__search-button{
    background-color: #000000;
    cursor:pointer;
    
}

.header__search-logo{
    width: 17px;
    height: 17px;
    margin: 27px;
    
}

.latest__news{
    background-image: url(../img/img__header/header-background.jpg);
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.latest__news-ttile{
font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #FFFFFF;
margin-top: 163px;
margin-bottom: 44px;
}

.latest__news-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 74px;
}

.btn{
    width: 170px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 17px; 
    
}

.btn__subscribe{
background: #89CA62;
}

.btn__best-art{
background: #14B9D5;
}
/*===HEADER===*/


.most__popular__block{
    width: 1170px;
    margin: 0 auto;
    
}

.most__popular__block-title{
font-weight: bold;
font-size: 27px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
color: #18B4CF;
margin-top: 49px;
margin-bottom: 52px;
}

.most__popular__block-inner{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 0 -15px 0 -15px;
    
}

.most__block-item{
    margin: 15px 15px 30px 15px;
}

.mbi__1{
    background: #FFFFFF;
}

.most__block-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
    margin-top: 0;
    margin-bottom: 0;
}
/* --Most popular posts-- */

.our__clients{
    background-image: url(../img/img__most-popular/clients-background.jpg);
    height: 588px;
    background-repeat: no-repeat;
    background-position: center;
    /*робить ФОН по центру -відцентровує*/
    background-size: cover;
    /*розтягує ФОН по діагоналі*/
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.our__clients-title{
font-weight: bold;
font-size: 32px;
line-height: 44px;
/* identical to box height */
text-transform: uppercase;
color: #FFFFFF;
margin-top: 0;
margin-bottom: 0;
padding-top: 108px;
padding-bottom: 87px;
}

.line-separator{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 0 auto;
    border: none;
}

.our__clients-list{
    margin-top: 106px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    justify-items: center;
    gap: 58px;
    margin-left: 510px;
    margin-right: 510px;
}

.top__rated-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    
    
}

.top__rated-block{
    width: 1880px;
    display: flex;
    grid-template-columns: repeat (7, 1fr);

} 
 /*--TOP rated--*/

.hot__news{
    width: 1880px;
    margin: 0 auto;
    background-color: #FFFFFF;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-right: 0;
    padding-bottom: 70px;
}

.hot__news-conteiner{
    width: 1168px;
    margin: 0 auto;
}

.hot__news-title{
    font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
text-align: center;
padding-top: 48px;
margin-top: 0;
margin-bottom: 51px;
}

.hot__news-list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;margin-bottom: 0;
    max-width: 1168px;
    display: grid;
    grid-template-columns: 292px 292px 292px 292px;
    grid-template-rows: 268px 1fr 1fr 260px;
    row-gap: 44px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"
    
}

.hot__news-item-1{
    grid-area: item1;
    
}

.hot__news-item-2{
    grid-area: item2;
}

.hot__news-item-3{
    grid-area: item3;
}

.hot__news-item-4{
    grid-area: item4;
}

.hot__news-item-5{
    grid-area: item5;
}

.hot__news-item-6{
    grid-area: item6;
}

.hot__news-item-7{
    grid-area: item7;
}

.hot__news-item-8{
    grid-area: item8;
}



.hot__news-item-1, .hot__news-item-8{
    width: 858px;
    height: 260px;
  background-color:#F9F7F7;
}

.hot__news-item-2, .hot__news-item-7{
   width: 277px;
   height: 260px;
   background-color:#F9F7F7;
}

.hot__news-inner-block{
    width: 370px;
    display: inline-block;
    vertical-align: top;
    
}

.hot__news-item-3, .hot__news-item-4, .hot__news-item-5, .hot__news-item-6{
width: 566px;
background-color:#F9F7F7;
}

.hot__news-item-3, .hot__news-item-5{
padding-right: 16px;
}



.hot__news-sybtitle-1,
.hot__news-sybtitle-2,
.hot__news-sybtitle-3,
.hot__news-sybtitle-4,
.hot__news-sybtitle-5,
.hot__news-sybtitle-6,
.hot__news-sybtitle-7,
.hot__news-sybtitle-8{
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;
text-align: right;
margin-top: 0;
margin-bottom: 0;

}

.hot__news-sybtitle-1,
.hot__news-sybtitle-8{
padding-top: 41px;
padding-bottom: 15px;
padding-right: 24px;
}


.hot__news-sybtitle-2,
.hot__news-sybtitle-7{
    padding-top: 14px;
    padding-bottom: 11px;
    text-align: center;
}

.hot__news-sybtitle-3,
.hot__news-sybtitle-4,
.hot__news-sybtitle-5,
.hot__news-sybtitle-6{
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 27px;
}

.hot__news-desc-1,
.hot__news-desc-3,
.hot__news-desc-4,
.hot__news-desc-5,
.hot__news-desc-6,
.hot__news-desc-8{
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* or 150% */
text-align: right;
color: #5B6469;
margin-top: 0;
margin-bottom: 0;
}

.hot__news-desc-1, .hot__news-desc-8{
    padding-right: 24px;
    padding-bottom: 40px;
}

.hot__news-desc-3,
.hot__news-desc-4,
.hot__news-desc-5,
.hot__news-desc-6{
    padding: 15px 14px 3px 13px;
}


.footer{
    width: 1880px;
    margin: 0 auto;
    height: 80px;
    background: #000000;
    padding-left: 354px;
    padding-right: 375px;
    display: grid;
    grid-template-columns: 550px 105px;
    justify-content: space-between;
    
}

.footer__row-text{
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* or 100% */
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;

}

.footer__row-logo{
    margin-top: 30px;
    margin-bottom: 30px;
  

}