*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body{
    width: 1480px;
    max-width: 100%;
    margin:0;
    background-color: #fff;;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;   
}

.header{
 
}

.header-logo{
font-family: Roboto;
font-weight: normal;
font-size: 80px;
line-height: 94px;
color: lightskyblue;
display: inline-block;
margin-top: 63px;
}
.color{
    color: #000000;
}

.header-menu{
    
 }  

 .nav-list{
     margin-top: 38px;
     margin-bottom: 48px;
     padding-left: 0px;
     background-color:#35444F;
     display: flex;
     justify-content:center;
 }

.nav-item{
padding-top: 26px;
padding-bottom: 20px; 
 list-style-type: none; 

}

.header-menu-link{
font-family: Roboto;
font-size: 24px;
line-height: 28px;
color: #fff;
padding-top: 25px;
padding-bottom: 20px;
padding-left: 38px;
padding-right: 38px;
border-left: 1px solid #FFFFFF;
background-color:#35444F;
transition-duration: 0.3s;
}

.header-menu-link:hover{
    background-color: #222F3A;
}

.nav-item:last-child{
    border-right: 1px solid #FFFFFF;
}

.content{
    margin-top: 67px;
    display: flex;
   justify-content: flex-start;

}

.content-menu{
    width: 344px;
    margin-right: 52px;
    border: 1px solid #000000;
    align-self: start;
}

.content-menu-list{
    height: 399px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;  

}

.content-menu-item{
    color: #495863;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 44px;
    transition-duration: 0.3s;
}

.content-menu-item:hover{
background-color: #DBDBDB;
display: inline-block;
padding-left: 65px;
color: #35444F;
}


.content-menu-link{
    display: inline-block;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
/* identical to box height, or 100% */
    color: #485863;
    transition: transform 5s;
    padding: 26px auto 25px 44px;
    
}

.ramda-block{
    width: 885px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.ramda-block-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000
}


.ramda-img{
    width: 320px;
    height: 320px;
    transition: transform 1s; /* для плавності переходів*/
}

.ramda-block-img:hover .ramda-img {
  transform: scale(1.2); /* для масштабування або зміщення по осях */
}

.ramda-block-text{
    font-weight: normal;
font-size: 18px;
line-height: 24px;
/* or 133% */
color: #2C2C2C;

}

.ramda-block-text-pharagraf-one{
    margin-top: 37px;
    margin-bottom: 34px;
}

.ramda-block-text-pharagraf-two{
    margin-bottom: 54px;
}

.footer{
    height: 69px;
    margin-bottom: 30px;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);

}

.nav-footer-list{
    display: flex;
    justify-content:space-evenly;
    width: 928px;
    padding-left: 0;
}

.nav-footer-item{
   list-style-type: none;
  
}

.nav-footer-link{
font-weight: normal;
font-size: 28px;
line-height: 28px;
/* or 100% */
color: #0C1927;
padding-bottom: 4px;
border-bottom: 1px solid transparent;
transition-duration: 0.3s;
}


.nav-footer-link:hover{
color: #3181A6;
border-bottom: 1px solid #3181A6;
}

.footer-copy{
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* or 100% */
color: #010101;
margin-right: 40px;
margin-left: 82px;
}