@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.title__body{
    font-family: 'Ubuntu', sans-serif;   
}

.container{
    width: 1366px;
    height: 770px;
    margin: 0 auto;
    background-image: url(../img/background-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header{
    width: 1366px;
    padding: 15px 75px 15px 75px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 54px;
}

h2{
    margin: 0;
}

.header__logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.header__logo:hover{
    color: #01813F;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__icons{
    display: flex;
    width: 126px;
    height: 25px; 
}

.header-icon-calendar{
    display: block;
    width: 21px;
    height: 24px;
    transition-duration: 0.3s;
}

.header-icon-envelope{
    display: block;
    width: 24px;
    height: 24px;
    transition-duration: 0.3s;
}

.header-icon-compass{
    display: block;
    width: 23px;
    height: 24px;
    transition-duration: 0.3s;
}

.header-icon:hover path{
    fill: #01813F;
}

.header-icon{
    margin-right: 25px;
    align-content: center;
}

.header__line{
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header__registry{
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    align-self: center;
    margin-left: 16px;  
}

.header__registry__desc{
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.header__registry__desc a{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: 0.3s;
}

.header__registry__desc a:hover{
    color: #01813F;
}

.form__box{
    margin: 0 auto;
    width: 444px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.pic{
    position: absolute;
    left: 0px;
    top: 21px;
}

.form__box-inner{
    width: 324px;
    height: 100%;
    margin: 0 auto;
}

.form__box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;    
}

.sign-up{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition-duration: 0.3s;
}

.log-in:hover{
    color: #01813F;
    text-decoration: underline;
}

.button__box{
    display: flex;
    gap: 4px;
}

.button-fb{
    width: 160px;
    height: 48px;
    background: #305DB8;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 17px 22px 17px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-fb:hover{
    background: #022263;
}

.buttom-fb-line{
    padding-right: 18px;
    padding-left: 18px;
}

.button-gm{
    width: 160px;
    height: 48px;
    background: #DF4A32;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 17px 22px 17px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-gm:hover{
    background: #AB1F09;
}

.buttom-gm-line{
    padding-right: 30px;
    padding-left: 7px;
}

.line__or{
    margin-top: 31px;
    margin-bottom: 12px;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.line__or::before,
.line__or::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: relative;
}


.line__or:before {
    margin-left: -100%;
    left: -5px;
}
.line__or:after {
    margin-right: -100%;
    right: -5px;
}

.form-input{
    width: 324px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-bottom: 15px;
    outline: none;
}

.form-input::placeholder{
    color: #BEBEBE;
}

.form-input:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px;
    border-radius: 4px;
}

.form__label{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 28px;
}

.check__input:checked + .check__box{
    background-image: url(../img/Vector_checked.svg);
    background-repeat: no-repeat;
}

.check__input{
    appearance: none;
}

.check__box{
    position: absolute;
    left: 62px;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.link__text{
    color:#3CB878;
    transition-duration: 0.3s;
}

.link__text:hover{
    color: #01813F;
    text-decoration: underline;
}

.button-create-acc{
    display: block;
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 106px;
    margin-top: 20px;
    margin-bottom: 38px;
    transition-duration: 0.3s;
}

.button-create-acc:hover{
    background: #01813F;
}
