*,
*::after,
*::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page-body{
    width: 1366px;
    height: 768px;
    padding-top: 0;
    margin: 0 auto;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family:'Roboto', sans-serif;
}

.header{
    margin-top: 51px;
}

.container{
    width: 1030px;
    margin: 0 auto;
}

.header-box{
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 152px;
    display: flex;
}

.logo-img{
    display: block;
     width: 53px;
     height: 47px;
    background-image: url(../img/logo.svg);
    margin-right: 8px; 
}

.logo-text{
    width: 90px;
}

.logo-text700{
    margin: 0;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    padding-bottom: 3px;
}

.logo-text400{
    margin:0;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
} 

.logo-link{
    display: flex;
    align-items:flex-end;
    vertical-align: bottom;
    color:#FFFFFF;
    transition-duration: 0.3s;
}

a:hover .logo-img{
    background-image: url(../img/logo-orang.svg);
}

a:hover .logo-text{
    color: #F26522;
}

.contact{
    width: 219px;
    display: inline-block;
    text-align: right;
}

.mail-to{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 19px;
    transition-duration: 0.3s;
}

.mail-to:hover{
    color: #F26522;
}

.number-phone{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.number-phone:hover{
    color: #F26522;
}

.main-section{
    margin-top: 22px;
    margin-bottom: 49px;
}

.main-section-list{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;
    margin-right: -30px;
}
.main-section-item{
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 37px;
    position: relative;
}

.main-section-item:hover .orange-placked{
    opacity: 1;
}

.main-section-item:hover .main-section-subtitle{
    color: #F26522;
}

.orange-placked{
    width: 300px;
height: 55px;
background: #F26522;
color: #FFFFFF;
display: flex;
justify-content: space-between;
position: absolute;
bottom: 41px;
opacity: 0;
transition-duration: 0.3s;
}

.orange-placked-price{
 padding-left: 16px;
 padding-top: 7px;
 padding-bottom: 12px;
 font-weight: normal;
font-size: 10px;
line-height: 10px;
margin-top: 0;
margin-bottom: 0;
padding-bottom: 8px;
text-align: left;
}

.price-euro{
    font-weight: normal;
font-size: 20px;
line-height: 20px;
display: inline-block;
margin-top: 8px;
}

.orange-placked-view{
    padding-top: 29px;
    font-weight: normal;
font-size: 14px;
line-height: 14px;
}

.orange-placked-view::after{
    content:url(../img/right-arrow.svg);
    padding-left: 16px;
    padding-right: 16px;
}

.main-section-subtitle{
    font-weight: normal;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
margin-top: 20px;
margin-bottom:0;
transition-duration: 0.3s;
}

.footer-copy{
font-weight: normal;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
text-align: center;
margin-bottom: 15px;
}