.navbar{  
    padding: 0;
    text-align: center; 
}
.nav-menu{
    display:inline;
}
.navigation-link{
    text-decoration: none;
    color:#FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7 px;
    margin: 25.5px 36px 25.5px 36px;
}
.imag{
    display: block; 
    margin: 0 auto;
}
.container{
    width: 1145px;
    margin: 0 auto;
}
.title{
    text-align: center;
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    margin-top: 49px;
    margin-bottom: 0px;
    
}
.text{
     text-align: center;
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.text-one{
    margin-top: 38px;
}
.text-two{
    margin-top: 28px;
    margin-bottom: 66px;
}

.button {
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    background-color:#FF0000;
    padding-top: 18px;
    display: block;
    border-radius: 4px;
    margin:0 auto 82px;
    border: none;
    width: 191px;
    height: 33px;
    text-align: center;
    text-decoration: none;
}

footer{
    width: 1145px;
    margin: 0 auto;
}
.copy{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align:right;
    padding-right: 105px;
}
